[submodule "amgl/thirdparty/amthreadpool"]
	path = amgl/thirdparty/amthreadpool
	url = https://github.com/AntonMoyseychuk/AMThreadpool.git
[submodule "amgl/thirdparty/glm"]
	path = amgl/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "amgl/thirdparty/debugbreak/debugbreak"]
	path = amgl/thirdparty/debugbreak/debugbreak
	url = https://github.com/scottt/debugbreak.git
